Results/
*.pkl
/gnn-comparison/
/Results_Paper/
/src/Competitors/Results/
/src/Competitors/GNN/Results/
/src/Competitors/GNN/Datasets/
*.idea
/.idea/
/Results_Paper_Reproduced/
/Reproduce_RuleGNN/Data/Labels/
/Reproduce_RuleGNN/Data/Properties/
/Reproduce_RuleGNN/Data/TUDatasets/
/Reproduce_RuleGNN/Data/generation_times_labels.txt
/Reproduce_RuleGNN/Data/generation_times_properties.txt
/Examples/CustomExample/Data/
/Examples/CustomExample/Results/
/Examples/TUExample/Data/
/Examples/TUExample/Results/
/Reproduce_RuleGNN/Results/
/tmp/
/Reproduce_RuleGNN/Data/
/Competitors/GNN/Datasets/
/Examples/Pruning/Data/
/Examples/Transfer/Data/
/Testing/
/Reproduce_RuleGNN_Pruning/
/Reproduce_RuleGNN_Random_Primary/
/Reproduce_RuleGNN_EdgeLabels/
# ignore everything in the Data folder except the Splits folder
/Data/*
!/Data/Splits/
