Results/
/Rest/
*.pkl
/gnn-comparison/
/RESULTS/
/Data/BenchmarkGraphs/ZINC_original/
/Results_Paper/
/TEMP/
/TEST/
/Data/Properties/Data/
/Data/Properties/
/src/Competitors/Results/
/Data/Featured/
/src/Competitors/GNN/Results/
/src/Competitors/GNN/Datasets/
*.idea
/.idea/
/Results_Paper_Reproduced/
/Reproduce_RuleGNN/Data/Labels/
/Reproduce_RuleGNN/Data/Properties/
/Reproduce_RuleGNN/Data/TUDatasets/
/Reproduce_RuleGNN/Data/generation_times_labels.txt
/Reproduce_RuleGNN/Data/generation_times_properties.txt
/Data/tmp/
/Data/
/Examples/CustomExample/Data/
/Examples/CustomExample/Results/
/Examples/TUExample/Data/
/Examples/TUExample/Results/
/Reproduce_RuleGNN/Results/
/tmp/
/Reproduce_RuleGNN/Data/SyntheticDatasets/EvenOddRings2_16/
/Reproduce_RuleGNN/Data/SyntheticDatasets/EvenOddRingsCount16/
/Reproduce_RuleGNN/Data/SyntheticDatasets/LongRings100/
/Reproduce_RuleGNN/Data/SyntheticDatasets/Snowflakes/
/Reproduce_RuleGNN/Data/SyntheticDatasets/
/Reproduce_RuleGNN/Data/
